input{
    width: 100%;
}
#dolar123{
    width: 93%;
    align-items: right;
    justify-content: right;
}
#FirstName{
    margin-right: 2rem;
    margin-left: 0;
}
input{
    border: 1px solid lightgray;
    border-radius: 5px;
}
.container{
    border: 1px solid lightgray;
    margin-bottom: 0;
    margin-top: 0;
}
.container>*{
    margin: 20px;
    margin-bottom: 0;
}
.encabezado{
    border: 1px solid lightgray;
    background-color: rgb(242, 242, 242);
}
.botones {
    text-align: right;
    border: 0px 1px 1px 1px solid lightgray;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    background-color: rgb(242, 242, 242);
}
#forma-de-pago {
    background-color: gray;
    width: 200px;
}
*{
    margin: 5px;
}
.form-select{
    height: 27px;
    justify-content: center;
    text-align: left;
    padding: 0px;
}
#addsanynotes{
    border-color: white;
}